@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100vh;
    background-image:url('/img/Desktop\ -\ 1\ \(1\).png');
    background-size:cover ;
    display: flex;
    justify-content: end;
}

.banner{
    width:40%;
    height:100%;
    background-image: url();
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.container-formulario{
    width:70%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 50%;
    height: 90%;
    background-color: rgb(223, 223, 223);
    border: 0px solid #000000;
    box-shadow: -20px 20px 15px 0px rgba(0, 0, 0, 0.534);
    border-radius: 30px;
    text-align: center ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-header{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: rgb(160, 24, 24);
}

.img-header{
    width: 40%;
    height: 40%;
    display:flex;
    justify-content: center;
}

.form-body{
    width:100%;
    height:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
}

.flex-input{
    width: 65%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}
.flex-input input{
    width: 100%;
    height: 45%;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding-left: 0px;
    background-color: transparent;
    outline: 0;
    font-weight: bold;
}

.flex-input input:focus::placeholder{
    color: rgb(189, 30, 30);
}

.flex-input input:focus{
    color: rgb(160, 24, 24);
    border-bottom: 2px solid  rgb(139, 21, 21);
}


.form-body button{
    width: 30%;
    height: 13%;
    text-transform: uppercase;
    background-color:  rgb(160, 24, 24);
    border-radius: 8px;
    border:0;
    color: white;
}


.form-body a{
    color:rgb(139, 21, 21);
    text-decoration: none;
}

.form-body a:hover{
    color: rgb(214, 6, 6);
}

.flex-link:hover{
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: bold;
}

.flex-link:active{
    color:  rgb(68, 21, 21);
    transform: scale(1.2);
    transition: 0.3s;
    font-weight: bold;
}

.form-body button:hover{
    cursor: pointer;
    background-color: rgb(211, 29, 29);
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: bold;
}

.form-body button:active{
    background-color: rgb(68, 21, 21);
    transform: scale(1.2);
}

#div_erros_login {
    display: none
  }
  
  .alerta_erro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
  
  .card_erro {
    display: none;
    flex-direction: column;
    background-color: rgba(105, 4, 4, 0.952);
    color: white;
    width: 30%;
    position: fixed;
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
  }
  
  .card_erro #mensagem_erro{
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
  }

  .card_erro #mensagem_erro button{
    width:70px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }

  .card_erro #mensagem_erro button:hover{
    cursor: pointer;
    background-color: rgb(194, 194, 194);
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: bold;
  }
