@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Jost';
    /* box-sizing: border-box; */
}

body{
    background-color: rgb(36, 36, 36);
    color: white;
}

.container{
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sidebar{
    width:3.5%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    position: fixed;
    box-shadow: 0px 0px 10px 3px black;
    z-index: 1;
}

.menu{
    width: 100%;
    /* height: 10%; */
    display: flex;
    justify-content: end;
}

.menu-button{
    width: 23px;
    height: 24px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.menu-button:hover{
    cursor:pointer;
}

.menu-button:active{
    transform: scale(1.1);
}

.menu-traco{
    width:25px;
    height:4px;
    background-color: white;
}

.conteudo{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

#link{
    opacity:0;
}

@keyframes expansao {

    0%{
        width: 3.5%;
    }

    100%{
        width: 20%;
    }
    
}


@keyframes minimizar {

    0%{
        width: 20%;
    }

    100%{
        width: 3.5%;
    }
    
}

@keyframes displayPalavras {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
        display: block
    }
}

.link{
    opacity: 0;
    display: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.link-ativado{
    animation: displayPalavras 3s forwards 0s;
    font-weight: bolder;
    display: block;
}

.active{
    animation: expansao 1s forwards 0s;
}

.inative{
    animation: minimizar 1s forwards 0s;
}

.desativada{
    display: none;
}

/* GRAFICOS */

.container-dashboard{
    width: 100%;
    height: 78%;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 20px;
}


.container-grafico{
    width:70%;
    height:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.container-kpi{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.container-dash{
    width: 80%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grafico{
    width:100%;
    height:100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* color: black; */
}

.kpi{
    width:100%;
    height:20%;
    background-color:  rgb(139, 21, 21);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px black;
    justify-content: space-around;
}

.resultado-kpi{
    font-size: 20px;
}

.graph{
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
}
