* {
    margin:0;
    padding: 0;
}

.container-votos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.tabela-musica{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divPai{
    display: flex;
    flex-direction: column;
}

.btn_votar{
    width: 100px;
    height: 30px;
    background-color:darkred;
    color: white;
    border-radius: 10px;
}